body {
    background-color: rgb(31, 30, 30);
    margin: 0;
    transition: background-color 0.5s ease;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.7;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 5rem;
    padding: 0 3rem;
    position: sticky;
    top: 0.00001rem;  
    z-index: 100;
}
.header button{
    background: none;
    border: none;
    font-size: 1.2rem;
}
.header a{
    color: white;
    text-decoration: none;
}