body {
    background-color: black;
    margin: 0;
    transition: background-color 0.5s ease;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 5rem;
    padding: 0 3rem;
    position: sticky;
    top: 0.00001rem;  
    z-index: 100;
}

.header button{
    background: none;
    border: none;
    font-size: 1.2rem;
}

.header a{
    color: white;
    text-decoration: none;
}

.home{
    display: flex;
    justify-content: flex-start;
}

.other{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

#ferrari{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 150vh;
    margin-top: 1rem;
    padding-top: 1.5rem;
}

#merc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 150vh;
    margin-top: 2rem;
    padding-top: 3rem;
}

#redbull{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 150vh;
    margin-top: 2rem;
    padding-top: 3rem;
}

#redbull-{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 150vh;
    margin-top: 2rem;
    padding-top: 3rem;
}

#maclaren{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 150vh;
    margin-top: 2rem;
    padding-top: 3rem;
}

#williams{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 150vh;
    margin-top: 2rem;
    padding-top: 3rem;
}

#haas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 150vh;
    margin-top: 2rem;
    padding-top: 3rem;
}

#audi{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 150vh;
    margin-top: 2rem;
    padding-top: 3rem;
}

#astonMartin{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 150vh;
    margin-top: 2rem;
    padding-top: 3rem;
}

#alpine{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 150vh;
    margin-top: 2rem;
    padding-top: 3rem;
}

#cadillac{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 150vh;
    margin-top: 2rem;
    padding-top: 3rem;
}

div h1 {
  font-size: 5rem;
  color: white;
  margin-bottom: 0.5rem;
}

div p {
  font-size: 2rem;
  color: #aaaaaa;
  max-width: 50rem;
  text-align: center;
  line-height: 1.8;
}

.name{
    padding: 4rem;
}

.about{
    align-self: start;
    margin-left: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
}